

<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{{title}}</h2>
              <p>{{header.description}}</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="https://nsanzimfura.web.app/"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://nsanzimfura.web.app/"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://nsanzimfura.web.app/"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Open Hours</h2>
              <ul class="list-unstyled open-hours">
                    {{#footerSection.availability}}
                      <li class="d-flex"><span>{{day}}</span><span>{{time}}</span></li>
                    {{/footerSection.availability}}
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Newsletter</h2>
            	<p>{{footerSection.Newsletter}}</p>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="form-control submit px-3">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Instagram</h2>
              <div class="thumb d-none d-sm-flex">
                    {{#footerSection.instagram1}}
                      <a href="https://nsanzimfura.web.app/" class="thumb-menu img" style="background-image: url({{img}});">
                      </a>
                    {{/footerSection.instagram1}} 
	            <div class="thumb d-flex">
                    {{#footerSection.instagram2}}
                      <a href="https://nsanzimfura.web.app/" class="thumb-menu img" style="background-image: url({{img}});">
                      </a>
                    {{/footerSection.instagram2}} 
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p class="d-flex flex-wrap justify-content-center align-items-center w-100"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
              All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true">
              </i> by <a href="https://nsanzimfura.web.app/" target="_blank">🌸 Nsanzimfura Eric</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>